<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <div class="input-group">
                <input (keyup.enter)="onSearch(filter.value)" #filter [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Item neve" aria-describedby="item-name">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                <li *ngFor="let stash of filteredStashes;" class="list-group-item">
                    <div class="row">
                        <div class="col-2">AccountName</div>
                        <div class="col-10">{{stash.date}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">CharacterName</div>
                        <div class="col-10">{{stash.lastCharacterName}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li *ngFor="let item of stash.items | nameFilter: filter.value;" class="list-group-item">
                                    <div class="row">
                                        <div class="col-2">{{item.name | clearName}}</div>
                                        <!--<div [ngStyle]="{'background-image': 'url(' + item.icon + ')'}" class="col-2 icon"></div>-->
                                        <div class="col">
                                            {{item.note}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
